@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}

:root {
    --white: #eaeaec;
    --black: #121212;
    --darkBlue: #181c2e;
    --sof-black: rgba(224, 224, 224, 0.4);
}

html,
body,
#root {
  height: 100%;
}
html {
  font-size: 16px;
}

@media (max-width: 1080px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: #efefef;
  font-family: 'Gowun Dodum', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
